# =========================
# Operating System Files
# =========================
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/

# =========================
# IDEs and Editors
# =========================
.vscode/
.idea/
.vs/
*.swp
*.swo
*.tmp

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
# Virtual environments
venv/
env/
ENV/
# Environment variables
.env

# =========================
# C / C++
# =========================
# Compiled Object files
*.o
*.ko
*.obj
*.elf
*.zip

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app
a.out

# Debug folders/files
*.dSYM/
*.su
*.idb
*.pdb

# Common build directories
build/
bin/
obj/
out/
